# Local .terraform directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup

# Crash log files
crash.log

# Terraform plan output
*.tfplan

# Sensitive files
# *.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDEs / Editors
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Log files
*.log